.navbar {
    z-index: -1;
    margin: 0;
    width: 100vw;
    background-color: rgba(5, 5, 4, 0.2);
    height: 35px;
    list-style: none;
    color: white
}

.navbar a {
    padding: 5px;
}

.navbar ul {
    overflow: hidden;
    background-color: #333;
}

.navbar header {
    display: flex;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}